<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" href="../css/bootstrap.min.css">
	  <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	  <link rel="stylesheet" href="../css/site.css">

	  <script type="text/javascript" src="../scripts/jquery-1.9.1.min.js"></script>	
	  <script type="text/javascript" src="../scripts/jquery-ui-1.10.0.custom.min.js"></script>	
	  <script type="text/javascript" src="../scripts/bootstrap.min.js"></script>
	  <script type="text/javascript" src="../scripts/index.js"></script>

	  <title>Administracion de Consorcios</title>
	</head>

	<body>
		<table class="table" style="background-color: #f7f7f7; box-shadow: 5px 5px 5px #eee; ">
			<tr>
				<td style="color: Black; padding: 1%; width: 20%; border-right:1px solid #eee;">
					<h4 style="width: 100%;"><a class="no_link_appearence" href="./Index.html">Administracion de Consorcios</a></h4>
				</td>
				<td style="width: 50%;">&nbsp;</td>
				<td><a href="./Index.html"><div class="building" title="Edificios"></div></a></td>
				<td><a href="./Index.html"><div class="news" title="Notificaciones"></div></a></td>
				<td><a href="./Index.html"><div class="expensas" title="Expensas"></div></a></td>
				<td><a href="./Index.html"><div class="gear" title="Nuevo!"></div></a></td>
			</tr>
		</table>
		
	</br>
	</body>
	<footer>
			<h5 style="">Powered by&nbsp;&nbsp;&nbsp;<img src="../images/logo.png" style="width: 5%;"/></h5> 
	</footer>
</html>