<script type="text/javascript" src="../scripts/Expenses.js"></script>


<a href="#" id="lnkNewTelefonoUtil"  data-toggle="modal" data-target="#myModal">
	<button type="button" class="btn btn-success">Nueva Expensa</button>
</a><br>
<table id="tblTelefonos" class="table table-hover message-table" style="table-layout: fixed;">
	<thead>
		<tr>
			<th style="width: 150px;">Codigo de Edificio</th>
			<th style="width: 130px;">Fecha</th>
			<th style="width: 190px;">Archivos</th>
	
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="telefono_util">AAA01</td>
			<td class="telefono_util">24/04/2015</td>
			<td class="telefono_util">11</td>
			
			
		</tr>
		<tr>
			<td class="telefono_util">AAA02</td>
			<td class="telefono_util">12/04/2015</td>
			<td class="telefono_util">15</td>
			
		</tr>
		<tr>
			<td class="telefono_util">ABA01</td>
			<td class="telefono_util">14/04/2015</td>
			<td class="telefono_util">4</td>

		</tr>
		
	</tbody>
</table>
