<script type="text/javascript" src="../scripts/notifications.js"></script>

<a href="#" id="lnkNewNotification"  data-toggle="modal" data-target="#myModal">
	<button type="button" class="btn btn-success">Nueva Notificación</button>
</a>
<table id="tblNotification" class="table table-hover message-table" style="table-layout: fixed;margin-top: 20px;">
	<thead style="display: none;">
		<tr>
			<th>Tipo de mensaje</th>
			<th>Autor</th>
			<th>Fecha</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tipo_mensaje" style="display: none; width: 300px;">Alicia Moreau de Justo 740</td>
			<td style="overflow: hidden; white-space: nowrap; width: 450px;">Se les informa a los señores propietarios e inquilinos, que el día 26/04/2015 se realizarála fumigación en el edificio a las 10:00 am.</td>
			<td style="text-align: right;">-</td>
			<td style="text-align: right;">Hoy 09:31 am</td>
		</tr>
		<tr>
			<td style="display: none;" class="tipo_mensaje">C&oacute;rdoba 760</td>
			<td style="overflow: hidden; white-space: nowrap; width: 500px;">Se notifica que a partir del día 01/04/2015 se incrementará el valor de las expensas según lo acordado en asamblea.</td>
			<td style="text-align: right;">-</td>
			<td style="text-align: right;">Ayer 11:42 pm</td>
		</tr>
	</tbody>
</table>
